/*
** TweetScroller
** Divshot, Inc.
*/
#tweets {
  max-height: 600px;
  overflow: hidden;
  /* Increases CPU Usage */
  -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(15%, black), color-stop(85%, black), color-stop(100%, rgba(0, 0, 0, 0)));
  *zoom: 1;
}
  #tweets:before, #tweets:after {
    display: table;
    content: "";
  }
  #tweets:after {
    clear: both;
  }
/*  #tweets::-webkit-scrollbar {
    width: 4px;
  }
  #tweets::-webkit-scrollbar-track, #tweets::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  #tweets::-webkit-scrollbar-thumb {
    background: transparent;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;  
  }*/

.tweetscroller {
  width: 92%;
  margin 0 auto;
  *zoom: 1;
}
  .tweetscroller:before, .tweetscroller:after {
    display: table;
    content: "";
  }
  .tweetscroller:after {
    clear: both;
  }
  .tweetscroller .tweet {
    position: absolute !important;
    float: left !important;
    clear: none !important;
    margin: 14px !important;
    width: 240px;
    background: #f6f7f6;
    text-align: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* Increases CPU Usage */
/*    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);   */ 
  }
    .tweetscroller .tweet blockquote {
      margin: 10px;
      padding: 0;
      border: none;
    }
    .tweetscroller .tweet blockquote a {
      text-decoration: none;
    }
    .tweetscroller .tweet blockquote a:hover {
      color: #333333 !important;
      text-decoration: underline;
    }
    .tweetscroller .tweet blockquote .author .avatar {
      float: left;
      margin: 2px 10px 0 0;
    }
    .tweetscroller .tweet blockquote .author .avatar .photo {
      width: 32px;
      height: 32px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .tweetscroller .tweet blockquote .author .fn {
      display: block;
      font-size: 15px;
      line-height: 18.75px;
      font-size: 1.5rem;
      line-height: 1.875rem;
      color: #333333 !important;
      font-weight: bold;
    }
    .tweetscroller .tweet blockquote .author .nickname {
      font-size: 13px;
      line-height: 16.25px;
      font-size: 1.3rem;
      line-height: 1.625rem;
      color: #a8a8a8 !important;
      text-decoration: none !important;
    }
    .tweetscroller .tweet blockquote .author .nickname:hover {
      text-decoration: none !important;
    }
    .tweetscroller .tweet blockquote .entry-content {
      font-size: 15px;
      line-height: 20px;
      font-size: 1.5rem;
      line-height: 2rem;
    }
    .tweetscroller .tweet blockquote .footer a {
      font-size: 13px;
      line-height: 16.25px;
      font-size: 1.3rem;
      line-height: 1.625rem;
      color: #a8a8a8;
      text-decoration: none;
    }